<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/Addresses">Address Table</a>
        <a href="/Customers">Customer Table</a>
        <a href="/Employees">Employee Table</a>
        <a href="/Locations">Location Table</a>
        <a href="/Vehicles">Vehicle Table</a>
        <a href="/Orders">Order Table</a>
    </nav>

    {{{body}}}

</body>
</html>